<html>
  <head>
    <title>User Login</title>
  </head>
  <body>
    <main>
      <h1>User Login</h1>

      <section>
        <h2>Current Session</h2>
        <p><%= user.username %></p>
      </section>

      <section>
        <h2>New Session</h2>
        <form action="/login" method="post">
          <input type="text" name="username" placeholder="username"></input>
          <input type="password" name="password" placeholder="password"></input>
          <input type="submit" value="login"></input>
        </form>
      </section>

      <section>
        <h2>Log out</h2>
        <form action="/logout" method="post">
          <input type="submit" value="logout">
        </form>
      </section>
    </main>
  </body>
</html>
